*{
  box-sizing: border-box;
  font-family: 'Roboto';
}

.container{
  /* background-color: red; */
  width: 1140px;
  margin: 0 auto;
}

/* header */
.header-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list{
  display: flex;
  align-items: center;
}

.nav-list li{
  justify-content: space-between;
  margin: 20px 30px;
  list-style: none;
}

.navbar a{
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #373737;
}

.btn-light{
  padding: 10px 30px;
  border: 2px solid #717CFF;
  border-radius: 11px;
  transition: all 0.5s ease;
}

.btn-light:hover{
  color: #ffffff;
  background-color: #717CFF;
}
/* /header */


/* showcase */
.showcase-wrap{
  margin-top: 141px;
  display: flex;
  justify-content: space-between;
}

.showcase-title{
  font-weight: 900;
  font-size: 56px;
  line-height: 66px;
  color: #2F2F2F;
}

.showcase-title span{
  color: #717CFF;
}

.showcase-p{
  margin-top: 15px;
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  color: #7D7D7D;
}

.btn-wrap{
  margin-top: 52px;
}
.btn-dark{
  background: #717CFF;
  border-radius: 11px;
  padding: 15px 40px;
  font-weight: 500;
  font-size: 22px;
  line-height: 40px;
  color: #FFFFFF;
  text-decoration: none;
}

.showcase-icon-list{
  display: flex;
  list-style: none;
  padding-left: 5px;
}

.showcase-icon-list li{
  margin-top: 110px;
  margin-right: 10px;
  font-size: 22px;
}

.showcase-image{
  width: 500px;
  z-index: -1;
}
/* /showcase */


/* featured */
.featured{
  background-color: #FAFAFA;
  /* background-color: red; */
  margin-top: -188px;
}

.featured-title{
  padding-top: 50px;
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  color: #373737;
  mix-blend-mode: normal;
  opacity: 0.73;
}

.featured-universities{
  margin-top: 90px;
  padding-bottom: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* /featured */


/* services */
.services-title{
  padding-top: 100px;
  font-weight: bold;
  font-size: 37px;
  line-height: 54px;
  text-align: center;
  letter-spacing: -0.4625px;
  color: #373737;
}

.services-p{
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  text-align: center;
  color: #7D7D7D;
}

.services-cards{
  margin-top: 110px;
  padding-bottom: 126px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.services-card{
  margin: 10px;
  padding: 47px;
  background: #FFFFFF;
  box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
}

.services-card-title{
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
  colorrgb(22, 36, 43)4F;
}

.services-card-p{
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.444444px;
  color: rgba(55, 71, 79, 0.721569);
}

.services-card a{
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.439286px;
  color: #717CFF;
  text-decoration: none;
}
/* /services */

/* news */
.news{
  background-color: #FAFAFA;
}

.news-title{
  padding-top: 102px;
  font-weight: bold;
  font-size: 37px;
  line-height: 54px;
  text-align: center;
  letter-spacing: -0.4625px;
  color: #373737;
}

.news-p{
  margin-top: 25px;
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  text-align: center;
  color: #7D7D7D;
}

.news-cards{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 344px;
}

.news-card{
  margin: 20px;
  background: #FFFFFF;
  box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
  border-radius: 10px;
}

.news-card time{
  padding: 25px;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #565656;
}

.news-card-p{
  padding: 10px 25px;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #252525;
}

.button{
  margin-top: 140px;
  padding-bottom: 120px;
  text-align: center;
}
/* /news */


/* events */
.events-title{
  padding-top: 90px;
  font-weight: bold;
  font-size: 37px;
  line-height: 54px;
  text-align: center;
  letter-spacing: -0.4625px;
  color: #373737;
}

.events-p{
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  text-align: center;
  color: #7D7D7D;
}

.events-cards{
  margin-top: 100px;
  padding-bottom: 200px;
  display: flex;
  justify-content: space-evenly;
}

.events-card{
  padding: 20px 30px;
  width: 540px;
  background: #FFFFFF;
  box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
}

.events-card-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.events-date{
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #717dff28;
  mix-blend-mode: normal;
  border-radius: 11px;
}

.events-date span{
  font-weight: bold;
  font-size: 27px;
  line-height: 32px;
  text-align: center;
  color: #717CFF;
}

.events-card-title{
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
  color: #37474F;
}

.events-card-p{
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.444444px;
  color: rgba(55, 71, 79, 0.721569);
}

.events-card-footer{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.events-card-footer a{
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.439286px;
  color: #717CFF;
}

.events-card-footer time{
  font-weight: 900;
  font-size: 16px;
  line-height: 28px;
  text-align: right;
  letter-spacing: 0.444444px;
  color: #373737;
}
/* /events */


/* countries */
.countries{
  background-color: #FAFAFA;
}

.countries-title{
  padding-top: 82px;
  font-weight: bold;
  font-size: 37px;
  line-height: 54px;
  text-align: center;
  letter-spacing: -0.4625px;
  color: #373737;
}

.countries-p{
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  text-align: center;
  color: #7D7D7D;
}

.countries-cards{
  padding-bottom: 200px;
  margin-top: 77px;
  display: flex;
  justify-content: space-between;
}

.countries-card-title{
  font-weight: 900;
  font-size: 25px;
  line-height: 29px;
  color: #37474F;
}

.countries-card-p{
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: rgba(55, 71, 79, 0.721569);
}
/* /countries */

/* testimonials */
.testimo-title{
  padding-top: 115px;
  font-weight: bold;
  font-size: 37px;
  line-height: 54px;
  text-align: center;
  letter-spacing: -0.4625px;
  color: #373737;
}

.testimo-p{
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  text-align: center;
  color: #7D7D7D;
}

.testimo-cards{
  padding-bottom: 198px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

.testimo-card{
  padding: 40px 30px;
  /* background-color: red; */
  width: 400px;
}

.testimo-card-header{
display: flex;
justify-content: space-around;
width: 230px;
}
.testimo-card-name{
  margin-bottom: 0px;
}
/* /testimonials */


/* apply */
.apply{
  background-color: #FAFAFA;
}

.apply-wrap{
  padding-top: 70px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apply-title{
  font-weight: bold;
  font-size: 37px;
  line-height: 43px;
  color: #252525;
}
/* /apply */


/* footer */
footer{
  background-color: #717CFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #EEEEEE;
}

.footer-columns{
  padding-top: 64px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column2 ul, .column3 ul, .column4 ul{
  list-style: none;
}

.column2 a, .column3 a{
  text-decoration: none;
  color: #EEEEEE;
}

.column4 ul{
  padding: 10px;
  display: flex;
  /* background-color: rgb(0, 0, 0); */
}

.column4 {
  /* background-color: red; */
  display: flex;
  align-items: flex-end;
}
/* /footer */