
body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

/* header starts */

.container{
  width: 85%;
  margin: 0 auto;
}

header{
  display: flex;
  width: 100%;
  height: 80px;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li{
  padding: 0 30px;
  list-style: none;
}

nav a {
  text-decoration: none;
  font-size: 17px;
}

.btn_light{
  background-color: #fff;
  border: 2px solid #717CFF;
  padding: 10px 30px;
  border-radius: 11px;
}

/* header ends */

/* showcase starts */

.showcase{
  display: flex;
  margin-top: 50px;
}

.showcase-title{
  font-style: normal;
  font-weight: 900;
  text-transform: capitalize;
  font-size: 56px;
  line-height: 66px;
  color: #2F2F2F;
}

.showcase-title span{
  color: #717CFF;
  ;
}

.showcase-paragraph{
  color: #7D7D7D;
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
}

.btn-dark{
  margin-top: 42px;
  padding: 20px 30px;
  background: #717CFF;
  color: #fff;
  border-radius: 11px;
  font-size: 22px;
  text-decoration: none;
  line-height: 40px;
}

.showcase ul{
  display: flex;
  list-style: none;
  margin-top: 100px;
  padding: 10px;
  font-size: 32px;
}

/* showcase ends */

/* featured starts */

.featured{
  background-color: #FAFAFA;
}

.featured-title{
  padding-top: 50px;
  margin-bottom: 86px;
  color: #7d7d7d;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}

.dots ul{
  margin-top: 112px;
  display: flex;
  list-style: none;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.dots ul li{
  padding: 10px;
  font-size: 13px;
  margin-bottom: 57px;
}

/* featured ends */

/* services starts */

.services-title{
  margin-top: 122px;
  font-weight: bold;
  font-size: 37px;
  line-height: 54px;
  text-align: center;
  letter-spacing: -0.4625px;
  color: #373737;
}

.services-paragraph{
  margin-top: 25px;
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  text-align: center;
  color: #7D7D7D;
}

.services-cards{
  margin-top: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services-card{
  background: #FFFFFF;
  box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  width: 270px;
  height: 315px;
}

.serv-card-title{
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
  color: #37474F;
}

.serv-card-p{
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.444444px;
  color: rgba(55, 71, 79, 0.721569);
}

.serv-card-img{
  width: 76px;
  height: 76px;
}

.services-card-link{
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.439286px;
  color: #717CFF;
  text-decoration: none;
}

/* services ends */

/* news starts */

.news{
  background-color: #FAFAFA;
}
.news-title{
  padding-top: 102px;
  font-weight: bold;
  font-size: 37px;
  line-height: 54px;
  text-align: center;
  letter-spacing: -0.4625px;
  color: #373737;
}

.news-paragraph{
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  text-align: center;
  color: #7D7D7D;
}

.news-cards{
  margin-top: 150px;
  display: flex;
}

.news-card{
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
  border-radius: 10px;
  margin: 20px;
}

.news-card-body{
  padding: 20px;
}

.news-card time{
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #565656;
}

.news-card-p{
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #252525;
}

.button{
  margin-top: 146px;
  margin-bottom: 150px;
  text-align: center;
}
/* news ends */